* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: block;
    height: 55px;
    width: 100%;

    border-bottom: 1px solid #000;
}

.main ul {
    padding: 0 50px 0 50px;
    height: 55px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    color: #fff;
    justify-content: space-between;
    font-weight: 600px;

}

.main ul li {
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    border-radius: 0%;
}

.main ul li:hover {
    background-color: white;
    transition: 0.3s;
}

.Subdropdown-1,
.Subdropdown-2 {
    display: none;
}

.main ul li:hover {
    background-color: #626e79;
    color: white;
    transition: 0.3s;
}

.Subdropdown-1 ul,
.Subdropdown-2 ul {
    display: block;
    padding: 0 20px 0 20px;
    list-style: none;
    gap: 10px;
    font-size: 18px;
    height: auto;
    width: auto;
    background-color: #fff;
    border-radius: 0%;
    margin-top: 15px;
}

.Subdropdown-1 ul li,
.Subdropdown-2 ul li {
    color: #000;
}

.Subdropdown-1 ul li:hover,
.Subdropdown-2 ul li:hover {
    color: #fff;
}

.dropdown-1:hover .Subdropdown-1,
.dropdown-2:hover .Subdropdown-2 {
    display: block;
    position: absolute;
    z-index: 1;
    transition: 0.3s;

}